<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="./build/app.min.js"></script>
    <link rel="stylesheet" href="./build/styles.css" media="screen" title="no title">
  </head>
  <body>
    <div ng-controller="employeesController">
      {{test}}
      {{pageOfEmployees}}
      <h2 class="blue-thing">Employees</h2>
      <div style="height: 16em">
        <ul ng-repeat="employee in pageOfEmployees">
          <li>{{employee.firstName}} {{employee.lastName}}</li>
          <li>{{employee.gender}}</li>
          <li>Skills</li>
          <ul>
            <li ng-repeat="skill in employee.skills">{{$index}} {{skill.skill}}</li>
          </ul>
        </ul>
      </div>
      <div class="page-controls">
        <input type="button" ng-click="prevPage()" value="&#9664" style="margin-right: 1em;">
        <div ng-repeat="button in buttonList track by $index" style="display: inline-block">
          <input type="button" style="width: 2.3em" ng-click="changePage(button, $index)" value="{{button}}">
        </div>
        <input type="button" ng-click="nextPage()" value="&#9654" style="margin-left: 1em;">
      </div>
    </div>
  </body>
</html>
