<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./build/app.min.js"></script>
    <link rel="stylesheet" type="text/css" ref="bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <h1>{{hello}}</h1>
    <div ng-controller="employeesController">
      <h2>Employees</h2>
      <div style="height: 16em">
        <ul ng-repeat="employee in pageOfEmployees">
          <li>{{employee.firstName}} {{employee.lastName}}</li>
          <li>{{employee.gender}}</li>
          <li>Skills</li>
          <ul>
            <li ng-repeat="skill in employee.skills">{{$index}} {{skill.skill}}</li>
          </ul>
        </ul>
      </div>
      <div ng-repeat="button in buttonInfo track by $index" style="display: inline-block">
        <input type="button" style="width: 2.3em" ng-click="changePage(button, $index)" value="{{button}}">
      </div>
    </div>
  </body>
</html>
