<!DOCTYPE html>
<html ng-app="myModule">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="./build/app.min.js"></script>
    <link rel="stylesheet" type="text/css" ref="bower_components/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <h1>{{hello}}</h1>
    <input type="text" ng-model="hello"/>
    <p>
      {{2 + 2}}
    </p>
    <div ng-controller="employeesController">
      <p>
        {{thing}}
        {{message}}
      </p>
      <h2>Page Employees 2</h2>
      <ul ng-repeat="employee in pageOfEmployees">
        <li>{{employee.firstName}} {{employee.lastName}}</li>
        <li>{{employee.gender}}</li>
        <li>Skills</li>
          <ul>
            <li ng-repeat="skill in employee.skills">{{$index}} {{skill.skill}}</li>
          </ul>
      </ul>
      <div ng-repeat="button in buttonInfo">
        <input type="button" ng-click="changePage2($index + 1)" value="{{button}}">
      </div>
    </div>
  </body>
</html>
